<nav class="navbar navbar-expand-lg navbar-light fontProxima mb-2" style="box-shadow: 3px 3px 3px #d4d4d4;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  tab ">
        <a class="nav-link" href="#">
          HOME</a>
      </li>
      <li class="nav-item tab ">
        <a class="nav-link" routerLink='/countries'>COUNTRIES</a>
      </li>
      <li class="nav-item tab ">
        <a class="nav-link" routerLink="/funds">MUTUAL FUNDS</a>
      </li>
      <li class="nav-item tab ">
        <a class="nav-link"  routerLink="/grid">MATRIX</a>
      </li>
      <li class="nav-item tab ">
          <a class="nav-link"  routerLink="/game">GAME</a>
        </li>
      <!-- <li class="nav-item dropdown tab">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Sign Up</a>
            
          </div> 
        </li> -->
    </ul>

    <div>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown tab">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Sign Up</a>
            <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>

        <!-- <li class="nav-item dropdown tab">
            <a class="nav-link" routerLink='/countries'>Cart</a>
          </li> -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer px-4 pt-2 animated fadeInBottom" id="myP"  >

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="fontOleoRegular mobtravelfont" style="color:white">Travel.com</div>
          <p class="fontProxima tagline" style="font-size:18px;color:rgb(219, 215, 215)"> Live with no excuses and travel with no regrets </p>
        </div>
      </div>  
    </div>
    <div class="col-md-6 pt-3 px-3 fontProxima mobaddlfont" style="color:white;font-weight:normal">
      <div>
        <i class="fa fa-map-marker" aria-hidden="true" style="font-size:27px"></i> &nbsp;&nbsp;HYDERABAD, TELANGANA</div>
      <div>
        <i class="fa fa-phone" aria-hidden="true" style="font-size:27px"></i>&nbsp;&nbsp; +91 98765-43210
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10 offset-md-2 mobmarginCopy" >© 2020 Copyright:
          <a href="https://charishma1992.github.io/dragdrop"> MyWebsite.com</a>
        </div>
   

      </div>
    
    </div>
    <div class="col-md-6 setIcons">

        <div>
          <i class="fa fa-facebook-square footer-icons" title="Facebook" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-twitter-square footer-icons" title="Twitter" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-envelope footer-icons" title="Mail" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-instagram footer-icons" title="Instagram" aria-hidden="true"></i>
        </div>
        <div>
          <i class="fa fa-whatsapp footer-icons" title="Whatsapp" aria-hidden="true"></i>

        </div>
      </div>
</div>
    <!-- <div #mapContainer id="map"></div> -->

 