<div style="    width: 30%;
background: darkseagreen;position: relative;">
  sdfsdhfhsdkf sdkjfhsdfh sdjkfhsdjfhs sdkjfhsdfjs sjkdfhsd fhdjf 
  dsfhjdsfhjd ioweurwur weruwieurw weurwieuwe; w[eruwpeu ioweurwur
  weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe;
   w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeu
  <div style="width: 33%;
  background: lavender;position: absolute;
  top: 18px;
  left: 78px;">
    <img src="assets/images/cycle-tour.jpg " width="150px">
  </div>
</div>
<div class="mt-5" style="    width: 30%;
background: darkseagreen;">
  sdfsdhfhsdkf sdkjfhsdfh sdjkfhsdjfhs sdkjfhsdfjs sjkdfhsd fhdjf 
  dsfhjdsfhjd ioweurwur weruwieurw weurwieuwe; w[eruwpeu ioweurwur
  weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe;
   w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeu
  <div style="width: 33%;
  background: lavender;">
    <img src="assets/images/cycle-tour.jpg " width="150px">
  </div>
</div>
<div style="margin-bottom:45rem">

  <div></div>
</div>