<div class="container" style="margin-bottom:30rem">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
    <agm-marker *ngFor="let m of markers;" [latitude]="m.lat" [longitude]="m.long">
    </agm-marker>
  </agm-map>
</div>





<!-- <div class="container" style="margin-bottom:30rem">
    <ng-container *ngFor="let x of matrixData;let i = index">
        <div class="row">
            <span (click)="openCapital(x.state)">{{x.state}}</span>
          <div class="col"  *ngFor="let y of matrixData;let j = index">
            <div  *ngIf="i === 0">{{y.state}}</div>
            <div  *ngIf="i != 0">{{i}}-{{j}}</div>
            </div>
           
        </div>
        <ng-container *ngFor="let z of x.city;let z1= index">
            <div class="row" *ngIf="x.showCapitalData">
              <span>{{z.name}}</span>
            </div>
            <div class="col"  *ngFor="let y of matrixData;let j = index">
              
                <div  *ngIf="i != 0 && x.showCapitalData">{{i}}-{{j}}</div>
                </div>
            </ng-container>
    </ng-container>
  
</div> -->















<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <ng-container *ngFor="let x of matrixData">
        <th scope="col" (click)="openCapitalColumn(x.state)">{{x.state}}</th>
      <ng-container *ngFor="let y of x.city">
          <th scope="col"  *ngIf="x.showCapitalDataColumn">{{y.name}}</th>
       
      </ng-container>
     
      </ng-container>
      
      
    </tr>
  </thead>
  <tbody>
   
      <ng-container *ngFor="let x of matrixData">
          <tr style="background:aliceblue">
    
            <th (click)="openCapital(x.state)">{{x.state}}</th>
            <td>{{x.state}}</td>
            <ng-container *ngFor="let z of x.city;let i= index">
              <td *ngIf="expandState1 >= i+1">
                <span>{{z.name}}</span>
              </td>
    
            </ng-container>
            <td>{{x.state}}</td>
    
            <td>{{x.state}}</td>
    
          </tr>
          <ng-container *ngIf="x.showCapitalData">
            <tr *ngFor="let y of x.city;let i = index" class="fontProxima;" style="color:blue">
    
              <th (click)="openCity($event)">{{y.name}}</th>
    
              <td (click)="openCity($event)">{{y.name}}{{i+2}}</td>
    
            </tr>
          </ng-container>
    
        </ng-container>
  </tbody>
</table> -->


<!-- <table class="table table-hover" id="mytab1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <ng-container *ngFor="let x of matrixData">
        <th scope="col" (click)="openCapitalColumn(x.state)">
          <div>{{x.state}}</div>
        </th>
        <ng-container *ngIf="x.showCapitalDataColumn">
          <th scope="col" *ngFor="let y of x.city" class="fontProxima;" style="color:blue">{{y.name}}</th>
        </ng-container>
      </ng-container>
    </tr>

  </thead>
  <tbody>
    <ng-container *ngFor="let x of matrixData">
      <tr >

        <th (click)="openCapital(x.state)">{{x.state}}</th>
        <td>{{x.state}}</td>
        <ng-container *ngFor="let z of x.city;let i= index">
          <td *ngIf="expandState1 >= i+1">
            <span>{{z.name}}</span>
          </td>

        </ng-container>
        <td>{{x.state}}</td>

        <td>{{x.state}}</td>

      </tr>
      <ng-container *ngIf="x.showCapitalData">
        <tr *ngFor="let y of x.city;let i = index" class="fontProxima;" style="color:blue">

          <th (click)="openCity($event)">{{y.name}}</th>

          <td (click)="openCity($event)">{{y.name}}{{i+2}}</td>

        </tr>
      </ng-container>

    </ng-container>

  </tbody> 
</table> -->


























<!-- <div class="row" *ngIf="i==0">
    <ng-container *ngFor="let y of matrixData">
      <div class="col-md-1">{{y.state}}</div>
    </ng-container>
  </div>
  <div class="row" *ngIf="i>=0">
    <ng-container>
      <div class="col-md-12">{{x.state}}</div>
    </ng-container>
  </div> -->

















<!-- <table class="table table-hover" id="mytab1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <ng-container *ngFor="let x of matrixData">
        <th scope="col" (click)="openCapitalColumn(x.state)">
          <div>{{x.state}}</div>
        </th>
        <ng-container *ngIf="x.showCapitalDataColumn">
          <th scope="col" *ngFor="let y of x.city" class="fontProxima;" style="color:blue">{{y.name}}</th>
        </ng-container>
      </ng-container>
    </tr>

  </thead>
  <tbody>
    <ng-container *ngFor="let x of matrixData">
      <tr style="background:aliceblue">

        <th (click)="openCapital(x.state)">{{x.state}}</th>
        <td>{{x.state}}</td>
        <ng-container *ngFor="let z of x.city;let i= index">
          <td *ngIf="expandState1 >= i+1">
            <span>{{z.name}}</span>
          </td>

        </ng-container>
        <td>{{x.state}}</td>

        <td>{{x.state}}</td>

      </tr>
      <ng-container *ngIf="x.showCapitalData">
        <tr *ngFor="let y of x.city;let i = index" class="fontProxima;" style="color:blue">

          <th (click)="openCity($event)">{{y.name}}</th>

          <td (click)="openCity($event)">{{y.name}}{{i+2}}</td>

        </tr>
      </ng-container>

    </ng-container>

  </tbody>
</table> -->






























<!-- matrix format -->

<!-- <div class="container" style="margin-bottom:35rem">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="row">
        <ng-container *ngFor="let x of matrixData">
          <div class="col-md-12 ml-1 adjustCol" (click)="openCapitalColumn(x.state)" style="transform: rotate(180deg); 
            writing-mode: tb-rl;cursor:pointer;background:rgb(186, 184, 189)">
            {{x.state}}
          </div>
          <ng-container *ngIf="x.showCapitalDataColumn">
            <div class="col-md-12 ml-1 adjustCol" *ngFor="let y of x.city" style="transform: rotate(180deg); 
        writing-mode: tb-rl;background: #f1eeee;">
            
              {{y.name}}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mt-1" *ngFor="let x of matrixData">
    <div class="col-md-12" style="background: #b9b4b4;">
      <span style="cursor:pointer" (click)="openCapital(x.state)">{{x.state}}</span>
    </div>
    <ng-container *ngIf="x.showCapitalData">
      <div class="col-md-12 mt-1" *ngFor="let y of x.city" style="background: #f1eeee;cursor:pointer">
     
        {{y.name}}</div>
    </ng-container>
  </div>

</div> -->































<!-- rotated text-->
<!--  style="background: radial-gradient(black, transparent) -->
<!-- <div class="rotated">Text from bottom with working width/height</div> -->

<!-- position:absolute and relative -->

<!-- <div style="    width: 30%;
  background: darkseagreen;position: relative;">
  sdfsdhfhsdkf sdkjfhsdfh sdjkfhsdjfhs sdkjfhsdfjs sjkdfhsd fhdjf dsfhjdsfhjd ioweurwur weruwieurw weurwieuwe; w[eruwpeu ioweurwur
  weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeu
  <div style="width: 33%;
    background: lavender;position: absolute;
    top: 18px;
    left: 78px;">
    <img src="assets/images/cycle-tour.jpg " width="150px">
  </div>
</div>
<div class="mt-5" style="    width: 30%;
  background: darkseagreen;">
  sdfsdhfhsdkf sdkjfhsdfh sdjkfhsdjfhs sdkjfhsdfjs sjkdfhsd fhdjf dsfhjdsfhjd ioweurwur weruwieurw weurwieuwe; w[eruwpeu ioweurwur
  weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeuioweurwur weruwieurw weurwieuwe; w[eruwpeu
  <div style="width: 33%;
    background: lavender;">
    <img src="assets/images/cycle-tour.jpg " width="150px">
  </div>
</div>
<div style="margin-bottom:45rem">

  <div></div>
</div> -->